@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'helvetica';
}

/* custom-scrollbar 스크롤 안보이게 커스텀 */
.custom-scrollbar,
.ant-modal-body {
  height: 100%;
  overflow-y: auto; /* 세로 스크롤만 허용 */
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
}

.custom-scrollbar2 {
  height: 100%;
  overflow-y: auto; /* 세로 스크롤만 허용 */
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
}

/* 스크롤바 스타일링 */
.custom-scrollbar::-webkit-scrollbar,
.ant-modal-body::-webkit-scrollbar {
  width: 0px; /* 스크롤바 너비 */
}
.custom-scrollbar2::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}

.custom-scrollbar2::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* margin-top: 10px; */
  /* margin-bottom: 10px;  */
  border-radius: 5px;
}

html.dark .custom-scrollbar2::-webkit-scrollbar-track {
  background-color: #374151;
  /* margin-top: 10px;  */
  /* margin-bottom: 10px;  */
  border-radius: 5px;
}

.custom-scrollbar2::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 5px;
}

html.dark .custom-scrollbar2::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 5px;
}

/* hover 효과
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #fffff;
  transition: all 0.2s;
} */

/* dark mode */
/* 다크 모드에서만 적용되는 Select 박스 스타일 */
html.dark .ant-select {
  background-color: transparent;
  transition: none; /* 모든 변화 효과 제거 */
}

html.dark .ant-select .ant-select-selector {
  background-color: #616e7c; /* 배경색: Tailwind gray-600 */
  color: #e2e8f0; /* 텍스트 색상: Tailwind gray-300 */
  border: 1px solid #616e7c; /* 테두리 색상: Tailwind gray-600 */
  transition: none; /* 모든 변화 효과 제거 */
}

html.dark .ant-select .ant-select-selection-item {
  color: #e2e8f0;
  background-color: transparent;
  transition: none; /* 모든 변화 효과 제거 */
}

/* 일반 모드에서 적용되는 Select 박스 스타일 */
.ant-select {
  transition: none; /* 모든 변화 효과 제거 */
}

.ant-select .ant-select-selector {
  transition: none !important; /* 모든 변화 효과 제거 */
}

.ant-select .ant-select-selection-item {
  transition: none; /* 모든 변화 효과 제거 */
}

/* 다크 모드 인풋 박스와 체크박스 기본 스타일 */
html.dark .ant-input,
html.dark .ant-input-number,
html.dark .ant-checkbox-inner {
  background-color: #374151; /* 다크 모드 인풋 박스 내부 배경색: Tailwind gray-700 */
  color: #e2e8f0; /* 다크 모드 텍스트 색상: Tailwind gray-300 */
  border: 1px solid #374151; /* 다크 모드 테두리 색상: Tailwind gray-700 */
  transition: none; /* 모든 변화 효과 제거 */
}

/* 체크박스의 텍스트 색상 (다크 모드) */
html.dark .ant-checkbox-wrapper .ant-checkbox + span,
html.dark .ant-checkbox-wrapper span {
  color: #d1d5db; /* 다크 모드에서 체크박스 텍스트 색상 */
  transition: none; /* 모든 변화 효과 제거 */
}

/* 일반 모드 인풋 박스와 체크박스 기본 스타일 */
.ant-input,
.ant-input-number,
.ant-checkbox-inner {
  transition: none !important; /* 모든 변화 효과 제거 */
}

/* 체크박스의 텍스트 색상 (일반 모드) */
.ant-checkbox-wrapper .ant-checkbox + span,
.ant-checkbox-wrapper span {
  transition: none; /* 모든 변화 효과 제거 */
}

/* 포커스, 클릭 및 호버 상태에서의 스타일 (다크 모드) */
html.dark .ant-input:focus,
html.dark .ant-input:hover,
html.dark .ant-input-number:focus,
html.dark .ant-input-number:hover,
html.dark .ant-input-number-focused,
html.dark .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  background-color: #374151;
  border-color: #374151;
  transition: none; /* 모든 변화 효과 제거 */
}

/* 포커스, 클릭 및 호버 상태에서의 스타일 (일반 모드) */
.ant-input:focus,
.ant-input:hover,
.ant-input-number:focus,
.ant-input-number:hover,
.ant-input-number-focused,
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  transition: none; /* 모든 변화 효과 제거 */
}

/* 다크 모드에서만 적용되는 InputNumber 내부 인풋 요소 스타일 */
html.dark .ant-input-number-input {
  background-color: #374151 !important;
  color: #e2e8f0 !important;
  border: none;
  box-shadow: none;
  transition: none; /* 모든 변화 효과 제거 */
}

/* 일반 모드에서 적용되는 InputNumber 내부 인풋 요소 스타일 */
.ant-input-number-input {
  transition: none !important; /* 모든 변화 효과 제거 */
}

/* 다크 모드에서만 적용되는 placeholder 스타일 */
html.dark .ant-input::placeholder,
html.dark .ant-input-number-input::placeholder {
  color: #1f2937; /* Placeholder 텍스트 색상: Tailwind gray-600 */
  opacity: 1;
  transition: none; /* 모든 변화 효과 제거 */
}

/* 일반 모드에서의 placeholder 스타일 */
.ant-input::placeholder,
.ant-input-number-input::placeholder {
  transition: none; /* 모든 변화 효과 제거 */
}

/* 다크 모드에서만 적용되는 label 스타일 */
html.dark .ant-form-item-label > label {
  color: #d1d5db; /* 다크 모드에서 label 텍스트 색상: Tailwind gray-300 */
  transition: none; /* 모든 변화 효과 제거 */
}

/* 일반 모드에서의 label 스타일 */
.ant-form-item-label > label {
  transition: none; /* 모든 변화 효과 제거 */
}

/* 모달 (다크모드) */
html.dark .ant-modal-content {
  background-color: #4b5563;
}

/* antd Table dark mode 색  */
html.dark .ant-table {
  @apply bg-gray-800;
}
html.dark .ant-table-tbody .ant-table-row .ant-table-cell-row-hover {
  @apply bg-gray-700;
}

/* 토큰 페이지 - 컨텐트 설정 */
.token-content {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @apply border-2 border-gray-300 rounded-lg w-full h-full text-[222222] dark:text-white font-samsung;
}

/* 컨텐트 박스 */
.content-box {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @apply border-2 border-gray-300 rounded-lg w-full h-full text-[222222] dark:text-white font-samsung;
}

/* 회원가입 페이지에 대한 입력 설정 */
html.dark .ant-form-item-control-input-content .ant-input-affix-wrapper {
  @apply bg-gray-700;
}

html.dark .ant-form-item-control-input-content .ant-input-affix-wrapper-focused {
  @apply bg-gray-700;
}

html.dark .ant-input-status-error {
  @apply bg-gray-700;
}
html.dark .ant-input-outlined {
  @apply bg-gray-700;
}

html.dark .ant-form-item-has-error {
  @apply bg-gray-800;
}

/* Tab에 관란 CSS */
.ant-tabs-tab-btn {
  @apply font-semibold;
}

html.dark .ant-tabs-tab-btn {
  @apply text-gray-300;

  &:hover {
    @apply text-white;
  }
}

/* Tab중 disable된 것 */
.ant-tabs-tab-disabled .ant-tabs-tab-btn {
  @apply text-gray-100;
}
html.dark .ant-tabs-tab-disabled .ant-tabs-tab-btn {
  @apply text-gray-700;
}

html.dark .ant-form-item-control-input-content .ant-input-status-error {
  @apply bg-gray-700;

  &:hover {
    @apply bg-gray-600;
  }
}

html.dark .ant-input .ant-input-outlined {
  @apply bg-gray-700;
}
