@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'helvetica';
}

/* custom-scrollbar 클래스 정의 */
.custom-scrollbar {
  height: 100%;
  overflow-y: auto; /* 세로 스크롤만 허용 */
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
}

/* 스크롤바 스타일링 */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  margin-top: 10px; /* 위쪽 여백 */
  margin-bottom: 10px; /* 아래쪽 여백 */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 5px;
  margin-top: 10px; /* 위쪽 여백 */
  margin-bottom: 10px; /* 아래쪽 여백 */
}

/* hover 효과 */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #daeba2;
  transition: all 0.2s;
}

/* custom-x-scrollbar 클래스 정의 */
.custom-x-scrollbar {
  box-sizing: border-box; /* 패딩과 경계선을 포함한 크기 계산 */
  padding-bottom: 8px; /* 스크롤바가 컨텐츠와 겹치지 않도록 패딩 추가 */
  overflow-x: auto; /* 가로 스크롤만 허용 */
  overflow-y: hidden; /* 세로 스크롤 숨기기 */
  cursor: pointer;
}

.custom-x-scrollbar::-webkit-scrollbar {
  height: 8px; /* 스크롤바 높이 */
}

.custom-x-scrollbar::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* 트랙 배경색 */
}

.custom-x-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e7e7e7; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 끝부분 둥글게 */
}

/* hover 효과 */
.custom-x-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #daeba2;
  transition: all 0.2s; /* 호버 효과에 전환 추가 */
}

/* 코너에 라운드 효과 */
.custom-x-scrollbar::-webkit-scrollbar-track,
.custom-x-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
